body {
    font-family: Museo Slab; 
    color: black; 
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 6%;
    margin-right: 6%;
}
.theme-button{
    font-family: Museo Slab; 
    color: white;
    background-color: #007eb0;
    border-radius: 6px;
    padding: 6pt;
    border-color: #007eb0;
    margin-right: 18pt;
}
.nuetral-button{
    font-family: Museo Slab; 
    color: black;
    background-color: white;
    border-radius: 6px;
    padding: 6pt;
    border-color: white;
    margin-right: 18pt;
}
.discard-button{
    font-family: Museo Slab; 
    color: white;
    background-color: #610000;
    border-radius: 6px;
    padding: 6pt;
    border-color: #610000;
    margin-right: 18pt;
}
.header2{
    font-family: Museo Slab; 
    color: black; 
    font-size: 23pt; 
    font-weight: bold; 
    text-align: center; 
    margin-top: 2%; 
    margin-bottom: 2%;
}